<ion-header>
  <ion-navbar>
    <button (click)="toAddSubject()" block large ion-button icon-right>
      Asignaturas
      <ion-icon name="md-add-circle"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="searchBy($event)">
    </ion-searchbar>
    <ion-row>
      <button ion-button icon-right (click)="toggleFilters()" color="primary" small block *ngIf="!showfilters">
        Filtros
        <ion-icon name="arrow-down"></ion-icon>
      </button>
      <button ion-button icon-right (click)="hideFilters()" color="primary" small block *ngIf="showfilters">
        Filtros
        <ion-icon name="arrow-up"></ion-icon>
      </button>
    </ion-row>
    <div class="filters" *ngIf="showfilters">
      <ion-row>
        <!--<ion-col col-6="">-->
        <!--<ion-list radio-group [(ngModel)]="modalidad">
          <ion-item-divider color="light">Modalidad</ion-item-divider>
          <ion-item>
            <ion-label>Telemática</ion-label>
            <ion-radio value="Telemática"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Sistemas</ion-label>
            <ion-radio value="Sistemas"></ion-radio>
          </ion-item>
        </ion-list>
          </ion-col>
          <ion-col col-6="">
        <ion-list radio-group [(ngModel)]="cuatrimestre">
          <ion-item-divider color="light">Cuatrimestre</ion-item-divider>
          <ion-item>
            <ion-label>Primavera</ion-label>
            <ion-radio value="Primavera"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Otoño</ion-label>
            <ion-radio value="Otoño"></ion-radio>
          </ion-item>
        </ion-list>-->
        <!--</ion-col>-->
        <ion-col col-10="">
          <button ion-button (click)="sort()" color="primary" small block>
            Orden alfabético
          </button>
        </ion-col>
        <ion-col col-2="">
          <button ion-button icon-only (click)="deleteFilters()" small color="danger" block>
            <ion-icon name=close></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3="">
          <button class="f" ion-button (click)="filterbyMod('Telemática')" color="primary" small block>
            Telemática
          </button>
        </ion-col>
        <ion-col col-3="">
          <button class="f" ion-button (click)="filterbyMod('Sistemas')" color="primary" small block>
            Sistemas
          </button>
        </ion-col>
        <ion-col col-3="">
          <button class="f" ion-button (click)="filterbyCuatri('Primavera')" color="primary" small block>
            Primavera
          </button>
        </ion-col>
        <ion-col col-3="">
          <button class="f" ion-button (click)="filterbyCuatri('Otoño')" color="primary" small block>
            Otoño
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>

  <ion-card>
    <ion-list>
      <ion-item-sliding *ngFor="let s of subjects | search: term ">
        <ion-item>
          <h2>{{s.nombre}}</h2>
          <p>{{s.estudios}}</p>
          <p>Cuatrimestre de {{s.cuatrimestre}}</p>
          <p>{{s.estudiantes.length}} estudiantes</p>
        </ion-item>
        <ion-item>
          <button (click)="toDetails(s._id)" ion-button color="primary">
            <ion-icon name=list></ion-icon>
            Detalles
          </button>
          <button (click)="deleteSubject(s._id)" ion-button color="danger">
            <ion-icon name=trash></ion-icon>
            Borrar
          </button>
        </ion-item>
        <!-- <ion-item-options side="left">
          <button (click)="toDetails(s._id)" ion-button color="primary">
            <ion-icon name=list></ion-icon>
            Detalles
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button (click)="deleteSubject(s._id)" ion-button color="danger">
            <ion-icon name=trash></ion-icon>
            Borrar
          </button>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>

